header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}

body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow: hidden;
}

#body-menu {
	margin-top: 10vh;
}

#menu {
	margin-top: -8vh;
}

#espace-collab {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}

button {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
}

#logout {
	float: right;
	border: solid white;
	border-radius: 2vh;
	background-color: white;
	box-shadow: 2px 1px 10px white;
	margin-right: 2vh;
	margin-top: 1vh;
	height: 3vh;
	width: 3vh;
}

#btn-portfolio {
	margin-top: 3vh;
}

#btn-note {
	margin-top: 3vh;
}