header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow: hidden;
}


form {
	background-color: white;
	border-radius: 8vh;
	box-shadow: 5px 5px 2px teal;
}


input {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: lightgrey;
}

#btn-retour {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
	float: left;
	margin-top: -10vh;
}


table {
	margin-left: auto;
	margin-right: auto;
}

table, tr, td {
	border-collapse: collapse;
	background-color: white;
	border: double lightgrey;
}

.table-header {
	background-color: violet !important;
	border: double lightgrey;
	font-weight: bold;
}

#espace-collab {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}

#moyenne-note {

	background-color: violet;

}

#table-td-moyenne {

	font-weight: bold;

}

#msg-non-evalue {

	margin-top: 100px;
	font-weight: bold;
	font-size: 30px;
	vertical-align: middle;

}

.non-acquis {

	font-weight: bold;
	color: #a10000fd

}

.partiellement-acquis {

	font-weight: bold;
	color: #da7400

}


.acquis {

	font-weight: bold;
	color: #016801

}