header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow-x: hidden;
	overflow-y: auto;
}



input {
	border-style: solid lightgrey;
	border-radius: 1vh;
}

#collab-result {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: rgb(253, 186, 142);
}

#btn-confirmer {
	border-radius: 2vh;
	background-color: white;
	margin-top: 10px;
	border: double violet;
}

#btn-retour {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
	float: left;
	margin-top: -10vh;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table, tr, td {
	border-collapse: collapse;
	background-color: white;
	border: double lightgrey;
}

table {
	margin-top: 5vh;
}

.table-header {
	background-color: violet !important;
	border: double lightgrey;
}

#espace-admin {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}

#div-selection {
	margin-right: 10vh;
}

.btn-corriger {

	border-radius: 2vh;
	background-color: violet;
	border: double white;
}


#msg-non-evalue {

	font-weight: bold;
	font-size: 30px;

}

.noter-crit-point {

	background-color: rgb(253, 186, 142);
	width: 50px;
	margin-top: 5px;

}

.label-crit, #msg-noter-crit {

	font-weight: bold;

}

.non-acquis {

	font-weight: bold;
	color: #a10000fd

}

.partiellement-acquis {

	font-weight: bold;
	color: #da7400

}


.acquis {

	font-weight: bold;
	color: #016801

}

hr {

	border: none;
	border-top: 2px dashed violet;
	width: 50vh;

}

#commentaire-eval {

	background-color: rgb(253, 186, 142);
	border-radius: 2vh;
	width: 400px;
	min-height: 200px;
	height: fit-content;
	margin-top: 5px;
	resize: none;
}

.commentaire-crit {

	background-color: rgb(253, 186, 142);
	border-radius: 2vh;
	width: 150px;
	min-height: 5px;
	height: fit-content;
	margin-top: 5px;
	resize: none;

}