header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow: hidden;
}



input {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: rgb(253, 186, 142);
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 10px;
	
}

#btn-retour {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
	float: left;
	margin-top: -10vh;
}


table {

	margin-left: auto;
	margin-right: auto;

}

table, tr, td {
	border-collapse: collapse;
	background-color: white;
	border: double lightgrey;
}

.table-header {
	background-color: violet !important;
	border: double lightgrey;
	font-weight: bold;
}

#espace-admin {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}

#btn-ajout {

	width: 30px;
	height: 30px;
	border: solid white;
	border-radius: 10vh;
	background-color: white;
	box-shadow: 2px 1px 10px white;

}

.select-gestion {

	border-radius: 2vh;
	background-color: violet;
	border: double white;
	text-align: center;

}

#div-formulaire-ajout {

	margin-left: auto;
	margin-right: auto;
	margin-top: 3vh;
	background-color: violet;
	width: fit-content;
	height: fit-content;
	border-radius: 2vh;

}

#btn-confirmer-ajout {

	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 2vh;
	background-color: white;
	border: double violet;

}

#h2-formulaire-ajout {

	margin-left: 2vh;
	margin-right: 2vh;

}

#img-check {

	width: 40px;
	height: 40px;
	margin-top: 10px;

}

#msg-valid {

	font-weight: bold;

}

#btn-fermer {

	width: 20px;
	height: 20px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	border: solid white;
	border-radius: 10vh;
	background-color: white;
	box-shadow: 2px 1px 10px white;
	transform: rotate(70deg);

}