header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow-y: auto;
	overflow-x: hidden;
}


input {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: lightgrey;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

table, tr, td {
	border-collapse: collapse;
	background-color: white;
	border: double lightgrey;
}



#btn-retour {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
	float: left;
	margin-top: -10vh;
}

#btn-telechargement {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
	margin-top: 8vh;
	font-family: 'Times New Roman', Times, serif;
	color: black;
	cursor: default;
	text-decoration: none;
}


.table-header {
	background-color: violet !important;
	border: double lightgrey;
	font-weight: bold;
}

img {
	width: 30px;
	height: 30px;
}

#espace-collab {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}