header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow: hidden;
}

.crit-point-input {

	width: 50px;

}

.crit-input, .collab-liste {

	margin-top: 10px;

}




input, .collab-liste {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: rgb(253, 186, 142);
}

table {
	margin-left: auto;
	margin-right: auto;
}

table, tr, td {
	border-collapse: collapse;
	border: solid black;
}

#btn-retour, #btn-confirmer {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
}

#btn-retour {
	float: left;
	margin-top: -10vh;
}

#btn-confirmer {
	margin-right: -7vh;
	margin-top: 5vh;
}

#btn-ajouter-crit {
	float: right;
	border: solid white;
	border-radius: 2vh;
	background-color: white;
	box-shadow: 2px 1px 10px white;
	margin-right: 40px;
	margin-top: 1vh;
	height: 3vh;
	width: 3vh;
}

#btn-ajouter-collab {
	float: right;
	border: solid white;
	border-radius: 2vh;
	background-color: white;
	box-shadow: 2px 1px 10px white;
	margin-right: 2vh;
	margin-top: 1vh;
	height: 3vh;
	width: 3vh;
}


#div-critere {
	margin-left: auto;
	margin-right: auto;
}

#div-collab {
	margin-left: auto;
	margin-right: auto;
}


#div-ajouter-crit {
	/*margin-left: auto;
	margin-right: 240px;
	margin-top: -5vh;
	margin-bottom: 10vh;*/
	position: relative;
	top: -5vh;
	right: 123vh;
}

#div-ajouter-collab {
	/*margin-left: auto;
	margin-right: 240px;
	margin-top: -5vh;
	margin-bottom: 10vh;*/
	position: relative;
	top: -4vh;
	right: 125vh;
}

#div-confirmer {
	margin-right: auto;
	margin-bottom: 10vh;
	margin-left: auto;
}

#espace-admin {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}


#img-check {

	width: 40px;
	height: 40px;

}

#msg-valid {

	font-weight: bold;

}