header {
	background-color: violet;
	text-align: left;
	height: 100%;
	height: 6vh;
	margin-top: auto;
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 3vh;
}


body {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	background-color: #d13131;
	overflow: hidden;
}

#identification {
	text-align: center;
	border-radius: 10em 10em 1em 1em;
	background-color: white;
	border: double lightgrey;
	margin-right: 30vw;
	margin-left: 30vw;
	margin-top: 3.7vh;
	box-shadow: 2px -4px 20px white;
}

#menu {
	float: left;
	margin-top: -8vh;
}

#body-form {
	margin-top: 10vh;
}

form {
	background-color: white;
	border-radius: 8vh;
	box-shadow: 2px 3px 50px rgb(230, 108, 108);
}


input {
	border-style: solid lightgrey;
	border-radius: 1vh;
	background-color: rgb(253, 186, 142);
}

#auth {
	margin-top: 3vh;
}

button {
	border-radius: 2vh;
	background-color: white;
	border: double violet;
}